body{
    background: #eee;
    font-family: 'Nunito', sans-serif;
}

.inventoryBox{
    padding: 15px;
    margin-top: 15px;
}

.font-red {
    color: #FF0000;
}

.inventory-img{
    width: 280px;
    height: 280px;
}

.inventory-img-box{
    display: flex;
    align-items: center;
    justify-content: center;
}